{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <div class="container">
    <div class="row ">
        {% for category in categories %}
            <div class="col-sm-4">
                <div class="card bg-warning text-white mt-sm-4">
                    <div class="card-body">
                        <div style="text-align: center">
                            <a href="{{ path('single_category', {'category': category.id }) }}">{{ category.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div><br>

    {% for article in articles %}
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
                <p class="card-text">Author: {{ article.author }}</p>
                <p class="card-text">Category: {{ article.category }}</p>
                <a href="{{ path('single_article', {'article': article.id }) }}" class="btn btn-light">Read more</a>
            </div>
        </div><br>
    {% endfor %}

{% endblock %}