{% extends 'base.html.twig' %}

{#{% block title %}Hello ArticlesController!{% endblock %}#}

{% block body %}
    <div class="container">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
                <p class="card-text">Created At: {{ article.createdAt|date("F jS \\a\\t g:ia") }}</p>
                <p class="card-text">Author: {{ article.author }}</p>
                <p class="card-text">Category: {{ article.category }}</p>
                <div class="btn btn-light"><a href="{{ path('update_article', {'article': article.id }) }}">Edit</a></div>
                <div class="btn btn-light"><a href="{{ path('article_delete', {'article': article.id }) }}">Delete</a></div>
            </div>
        </div><br>

        <h2>Comments</h2>
        {% for comment in article.comments %}
            <div class="card bg-warning text-black">
                <div class="card-body">
                    <div>Author: {{ comment.author }}</div>
                    <br>
                    <div>Created At: {{ comment.createdAt|date("F jS \\a\\t g:ia") }}</div>
                    <br>
                    <div>Content: <br> {{ comment.content }}</div><br>
                    <div class="btn btn-light"><a href="{{ path('comment_update_form', {'article': article.id, 'comment': comment.id }) }}">Edit</a></div>
                    <div class="btn btn-light"><a href="{{ path('comment_delete', {'article': article.id, 'comment': comment.id }) }}">Delete</a></div>
                </div>
            </div><br>
        {% endfor %}
        {{ render(controller('App\\Controller\\CommentController::create', {'article': article.id })) }}<br>
    </div>
{% endblock %}